:root {
  /* --darkblue: #13153b; */
  --darkpurple: #2a0a5e;
  /* --mdpurple: #713ed5; */
  --mdpurple: #7c2ae8;
  --alt-accent: #37ded7;
  --alt-accent: #ed3d63;
  --lightgray: #EDEEF0;
  --mdgray: #CFD0D2;
  --white: #fff;
}

body {
  background: var(--darkpurple);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
}

h1 {
  /* color: var(--alt-accent); */
  color: var(--white);
  font-size: 3.5rem;
  margin: 0 auto;
}

h2 {
  color: var(--darkpurple);
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0 auto;
}

h3, h4 {
  color: var(--darkpurple);
}

/* hr {
  border: dotted var(--mdpurple) 6px;
  border-bottom: none;
  margin: 80px auto;
  width: 4%;
} */
p {
  line-height: 2;
  font-size: 0.8rem;
}

a {
  margin: 10px 20px;
  text-decoration: none;
}

section {
  padding: 60px 0;
}

.light-bg {
  background-color: var(--lightgray);
}

.dark-bg {
  background-color: var(--mdgray);
}

.light-bg p, .dark-bg p {
  color: var(--darkpurple);
}

.fade-in {
  opacity: 0;
  transition: opacity 0.75s ease-in;
}

.fade-in.wid2 {
  transition-delay: 0.3s;
}

.fade-in.wid3 {
  transition-delay: 0.6s;
}

.fade-in.appear {
  opacity: 1;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(42, 10, 94, 0);
  height: 50px;
  margin-top: -50px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 50px;
}

.logo h4 {
  color: #fff;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-right: 50px;
  margin-top: 10px;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  padding: 8px 0;
}

.nav-links a:hover {
  color: var(--white);
  /* font-weight: bold; */
  border-bottom: 3px solid var(--alt-accent);
}

.footer-nav {
  display: none;
  cursor: pointer;
}

.home-icon {
  display: none;
  margin: 0;
  padding: 0;
}

.nav-alt {
  background: rgba(42, 10, 94, 1);
  transition: opacity 0.3s ease-in;
}

/* HERO SECTION */
.hero-container {
  background: var(--darkpurple);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 550px;
  position: relative;
  z-index: -1;
}

.hero-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(42, 10, 94, 0.7) 10%, rgba(42, 10, 94, 0.6) 100%),
    linear-gradient(180deg, rgba(42, 10, 94, 0.7) 0%, transparent 100%);
  z-index: 3;
}

.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.hero-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: var(--darkpurple);
  filter: grayscale(100%);
}

/* ALT HERO BG IMAGE */
.hero-bg-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.hero-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: var(--darkpurple);
  filter: grayscale(100%);
}

.hero-content {
  z-index: 3;
  max-width: 85%;
  position: absolute;
  top: 35%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-delay: 0.6s;
}

.intro-subhead {
  color: #fff;
  font-size: 1rem;
  margin-top: 0.5rem;
}

/* ABOUT ME SECTION */
#about-me {
  position: relative;
}

.hero-down-arrow {
  position: absolute;
  top: -120px;
  width: 100%;
  margin: 0 auto;
  z-index: 997;
}

.hero-down-arrow a {
  color: var(--white);
}

.hero-down-arrow a:hover {
  color: var(--alt-accent);
  cursor: pointer;
}

.profile-img {
  max-width: 150px;
  padding-top: 1rem;
  filter: grayscale(100%);
}

.profile-img:hover {
  filter: grayscale(0%);
}

.intro {
  width: 75%;
  max-width: 550px;
  margin: 0 auto;
  padding-top: 1rem;
}

.self-procs-container {
  background: var(--mdgray);
  border-radius: 5px;
  width: 75%;
  max-width: 550px;
  margin: 20px auto;
  padding: 1rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.self-procs-container h3 {
  padding: 0;
  margin: 0;
}

.self-procs-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 0.5rem;
  padding: 1rem;
}

.self-procs-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
}

.self-procs-item p {
  margin: 0;
  padding: 1.2rem 0 0 0;
  line-height: 1;
}

.self-procs-item i {
  color: var(--mdpurple);
}

/* SKILLS SECTION */
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: baseline;
  grid-gap: 3rem;
  padding-top: 2.5rem;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle-icon {
  background: var(--mdpurple);
  color: #fff;
  padding: 50px;
  border-radius: 50%;
}

.icon-name {
  color: var(--alt-accent);
  font-weight: 600;
  margin: 25.6px 0 12.8px;
}

/* EXPERIENCE SECTION */
.tech-logos-container {
  width: 75%;
  max-width: 650px;
  margin: 0 auto;
}

.tech-logos-container h4 {
  margin-bottom: 0.5rem;
}

.tech-logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
  grid-gap: 0.8rem;
  padding: 1rem;
}

.tech-logos img {
  width: 45px;
}

.tech-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  filter: grayscale(100%);
}

.tech-logo:hover {
  cursor: pointer;
  filter: grayscale(0%);
}

/* RESUME SECTION */
.btn-alt {
  background-color: transparent;
  border: solid var(--mdpurple) 1px;
  border-radius: 12px;
  color: var(--mdpurple);
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-top: 1.5rem;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
}

.btn-alt:hover {
  color: var(--white);
  border: solid #EF5577 1px;
  background: var(--alt-accent);
  text-decoration: none;
}

/* PROJECT SECTION */
.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-pg-title {
  margin-bottom: 1rem;
}

.project-mobile-tip {
  display: none;
}

.project-tiles-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1.5rem;
}

.flipcard {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  height: 300px;
  width: 300px;
  perspective: 1000px;
}

.flipcard-inner {
  border-radius: 15px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipcard:hover .flipcard-inner {
  cursor: pointer;
  transform: rotateY(180deg);
}

.flipcard-front, .flipcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flipcard-front {
  background-color: var(--lightgray);
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
}

.flipcard-front h3 {
  color: var(--darkpurple);
  font-size: 1.4rem;
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 36.5px;
  border-bottom: 5px solid var(--mdpurple);
}

.flipcard-img {
  width: 300px;
  border-radius: 0 0 15px 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flipcard-back {
  background-color: var(--darkpurple);
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  transform: rotateY(180deg);
}

.flipcard-back p {
  color: #fff;
  font-size: 1rem;
  line-height: 2;
  margin: 35px;
  text-align: center;
}

.project-btn {
  background: var(--darkpurple);
  border: solid var(--alt-accent) 2px;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  margin-top: 20px;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  bottom: 23%;
  left: 18%;
}

.project-btn:hover, .project-btn2:hover {
  border: solid var(--alt-accent) 2px;
  background: var(--alt-accent);
  color: var(--white);
  text-decoration: none;
}

.project-btn2 {
  background: var(--darkpurple);
  border: solid var(--alt-accent) 2px;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  margin-top: 20px;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  bottom: 8%;
  left: 18%;
}

.project-bottom-container {
  padding-top: 30px;
  width: 100%;
}

.portfolio-expand {
  color: var(--mdpurple);
  display: block;
  font-size: 1.3rem;
  padding: 10px;
  margin: 0 auto;
  text-decoration: none;
  width: 200px;
}

.portfolio-expand:hover {
  color: var(--alt-accent);
  cursor: pointer;
}

.portfolio-expand p {
  line-height: 0;
  font-size: 1rem;
}

.down-arrow {
  margin-top: 5px;
}

.up-arrow {
  margin-bottom: 20px;
}

/* END OF PROJECT SECTION */
/* CONTACT SECTION */
.contact-message {
  margin: 1.5rem auto;
  width: 75%;
  max-width: 300px;
}

.btn {
  border: solid #8356DA 1px;
  background: var(--mdpurple);
  color: var(--white);
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background: var(--alt-accent);
  border: solid #EF5577 1px;
  color: var(--white);
  text-decoration: none;
}

/* FOOTER */
.bottom-container {
  background: var(--darkpurple);
  padding: 50px 0 20px;
}

.copyright {
  color: var(--lightgray);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link {
  color: var(--lightgray);
}

.footer-link:hover {
  color: var(--alt-accent);
}

.hidden {
  display: none;
}

@media screen and (max-width: 1080px) {
  .project-tiles-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .skills-container {
    grid-template-columns: 1fr 1fr;
    width: 80%;
  }

  .circle-icon {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    height: 60px;
    margin-top: -60px;
  }

  .nav-links {
    display: none;
  }

  .home-icon {
    display: block;
    padding: 0;
    margin-right: 50px;
  }

  .home-icon a {
    color: #fff;
  }

  .home-icon a:hover {
    color: var(--alt-accent);
  }

  .home-icon i {
    font-size: 1.5rem;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    background-color: var(--lightgray);
    z-index: 999;
    border-top: 1px solid #C1BFC3;
    -webkit-box-shadow: 0px -2px 4px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px -2px 4px rgba(50, 50, 50, 0.1);
    box-shadow: 0px -2px 4px rgba(50, 50, 50, 0.1);
  }

  .footer-nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    height: 70px;
    width: 80%;
  }

  .footer-nav-links a {
    color: var(--darkpurple);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .footer-nav-links p {
    margin: 0.1rem 0 0;
  }

  .footer-nav-links i {
    font-size: 1.5rem;
  }

  .bottom-container {
    margin-bottom: 70px;
  }

  .tech-logos {
    grid-template-columns: repeat(4, 1fr);
  }

  .project-pg-title {
    margin-bottom: 0.5rem;
  }

  .project-mobile-tip {
    display: block;
    margin: 0 auto;
  }

  #skills, #experience, #resume {
    padding: 80px 0;
  }
}

@media screen and (max-width: 767px) {
  .project-tiles-wrapper {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  .skills-container {
    grid-template-columns: 1fr;
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .tech-logos-container {
    margin: 0 auto;
    width: 90%;
  }

  .tech-logos img {
    width: 40px;
  }

  .skills-container {
    width: 75%;
    max-width: 550px;
  }
}

@media screen and (max-width: 400px) {
  .footer-nav-links {
    margin: 0 auto;
    width: 85%;
  }

  .hero-content h1 {
    font-size: 3rem;
  }
}
